{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'assets/lib/style/style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
</head>

<body>
    <form action="#" class="contact100-form validate-form" method="post">
        <div class="container">
            <span class="big-circle"></span>
            <img src="#" class="square" alt="" />
            <div class="form">
                <div class="contact-info">
                    <h3 class="title">Let's get in touch</h3>
                    <p class="text">
                        You know buy an ebooks is will be benefics for you because if you buy anythings,
                        You are going to take care from these things. So i invit you to be a leadership is importante
                    </p>

                    <div class="info">
                        <div class="information">
                            <img src="#" class="icon" alt="" />
                            <p>Cote d'Ivoire, Abidjan</p>
                        </div>
                        <div class="information">
                            <img src="#" class="icon" alt="" />
                            <p>coatchformateur79@gmail.com</p>
                        </div>
                        <div class="information">
                            <img src="#" class="icon" alt="" />
                            <p>(+225) 07 02 55 58 13</p>
                        </div>
                    </div>

                    <div class="social-media">
                        <p>Connect with us :</p>
                        <div class="social-icons">
                            <a href="https://facebook.com/groups/293443413066248">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/@Amarach77658214">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://linkedin.com/in/brain-tech-5054a2294">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://wa.me/2250702555813">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contact-form">
                    <span class="circle one"></span>
                    <span class="circle two"></span>

                    <form action="#" class="contact100-form validate-form" method="post">
                        <h3 class="title">Contact us</h3>
                        <div class="input-container">
                            <input type="text" name="name" id="name"
                                class="input"
                                name="name" />
                            <label for="name">Name</label>
                            </span>
                        </div>
                        <div class="input-container">
                            <input type="email" name="email" id="email"
                                class="input"
                                name="email" />
                            <label for="email">Email</label>
                            </span>
                        </div>
                        <div class="input-container">
                            <input type="tel" name="phone" id="phone"
                                class="input"
                                name="phone" />
                            <label for="phone">Phone</label>
                            </span>
                        </div>
                        <div class="input-container textarea">
                            <textarea name="message" class="input" id="message"
                                name="message"></textarea>
                            <label for="message">Message</label>
                            </span>
                        </div>
                        <input type="submit" value="Send" class="btn" />
                    </form>
                </div>
            </div>
        </div>
    </form>

    <script src="{% static 'assets/lib/style/style.js' %}"></script>
</body>

</html>
